body{
  font-family: proxima, Arial, sans-serif;
}
*{
  margin: 0;
  padding: 0;
}

body {
  font-size: 16px;
  color: #000;
  overflow-wrap: breal-word;
}

.container{
  max-width: 100%;
  min-width: 320px;
}

.wrap{
  max-width: 1500px;
  min-width: 290px;
  padding: 0 15px;
  margin: 0 auto;
}
